$bg-colour: #17181f;    //main background colour
$surface-bg: #20212c;   //for the cards bg, header bg
$surface-header-bg: #272833;    //for the header bg of each card
$highlight: #414052;    //when something is hovered, active, selected
$text-colour: #FFF;
$text-family: 'Roboto', sans-serif;

//CSS reset, set basic styles
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $text-family;
    color: $text-colour;

}



//App styles
.App{
    background-color: $bg-colour;
    min-height: 100vh;
}

//General button styles
button{
    background: none;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.3s ease-out 0s;
    padding: 0.5rem;

    &:hover{
        background-color: $highlight;
    }
}

//Header styles
header{
    background-color: $surface-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    

    nav{
        display: flex;

        
    //Styling for buttons within header nav
    & > button{
        margin-right: 0.5rem;
     }
    }


    //The user icon styles
    .user-icon{
        background-color: rgb(85, 136, 211);
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }

    .brand{
        font-weight: bold;
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    
   

}

form.add-task-form {
    display: flex;
    justify-content: center;
    align-items: center;

    .add-task-form-wrapper{
        width: 100%;
    }

    .sort-buttons{
        button{
            margin-right: 5px;
        }   
    }

    label {
        display: block;
    }

    select{
        text-align: center;
    }

    input, textarea, select{
        margin-bottom: 10px;
        width: 100%;
        padding: 5px;
        color: $surface-bg;
    }
}

.sidebar{
    background-color: $surface-bg;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 100vh;
    display: none;  //mobile first so we'll have the side bar hiding by default
    padding: 20px;


    ul{
        margin-top: 1rem;
        li{
            margin: 0.5rem;
            padding: 1rem 2rem;
            list-style-type: none;
            transition: all 0.3s ease-out 0s;
            cursor: pointer;
            &:hover{
                background-color: $highlight;
                border-radius: 5%;
            }
        }
    }
}

.content{
    display: flex;
}

.dashboard{
width: 100%;
display: flex;


    .important-sort{
        button{
            margin: 0.5rem 0;
            margin-right: 0.5rem;
        }

        input{
            margin-bottom: 10px;
            width: 40%;
            padding: 5px;
            color: $surface-bg;
        }
    }

    .center-dashboard{
        width: 70%;
    }

    .sub-wrapper{
        width: 100%;    
    }

    .dashboard-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        }

    h2{
        font-size: 2rem;
        padding: 50px 0;
    }

    h3{
        font-size: 1.8rem;
        padding: 2rem 0;
    }
}


.cards-container{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;

    .card{
        background-color: $surface-bg;
        margin-right: 10px; //space out cards
        margin-bottom: 10px; //space out cards
        border-radius: 10px;
        width: 285px;   //width of card

        .card-header{
            background-color: $surface-header-bg;
            padding: 1rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-transform: capitalize;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card-details{
            padding: 1rem;

            p{
                margin-top: 10px;
            }

            h3{
                display: inline;
                margin: 10px;
                font-size: 1.5rem;
            }

            input, label{
                padding: 1rem;
            }
        }

        .goto-collection{
            text-align: center;
           
            button{
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border: none;
                width: 100%;
                &:hover{
                    background-color: $highlight;
                }
            }
        }
    }
}

// X-Small 	None 	<576px
// Small 	sm 	≥576px
// Medium 	md 	≥768px
// Large 	lg 	≥992px
// Extra large 	xl 	≥1200px
// Extra extra large 	xxl 	≥1400px

@media all and (min-width: 576px){
    .sidebar{
        display: inline-block;
    }

    .sub-wrapper{
        width: 80%;    
    }
}